{% define "history" %}
	{% template "header" . %}
		<div class="row order-book">
			<div class="col-xs-12">
				<h3>История заказов</h3>
				<table class="table table-striped table-bordered">
					{% range $index, $order := $.orders %}
						{% $book := index $.books $order.BookId %}
						<tr>
							<td class="text-nowrap">№ {% $order.Id %}</td>
							<td>{% $order.Created.Format "1.2.2006" %}</td>
							<td><img src="/upload/cover/preview/{% $book.Id %}.jpg" class="cover"></td>
							<td class="title">
								<a href="/book/{% $book.Id %}">{% $book.Title %}</a>
							</td>
							<td class="status text-primary">
								{% if eq $order.Status "new" %}
									<p class="text-primary">Новый</p>
								{% else if eq $order.Status "inprogress" %}
									<p class="text-primary">Обрабатывается</p>
								{% else if eq $order.Status "delivered" %}
									<p class="text-success">В пункте выдаче</p>
								{% else if eq $order.Status "onhand" %}
									<p class="text-danger">На руках</p>
								{% else if eq $order.Status "returned" %}
									<p  class="text-muted">Возвращен</p>
								{% end %}
							</td>	
						</tr>
					{% end %}
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 paging">
				<nav class="text-center">
					<ul class="pagination pagination-sm">
						{% if eq $.pagination.offset 0 %}
							<li class="disabled"><span aria-hidden="true">&laquo;</span></li>
						{% else %}
							<li><a href="/user/me/history?f={% sub $.pagination.offset $.pagination.limit %}&l={% $.pagination.limit %}" class="disabled"><span aria-hidden="true">&laquo;</span></a></li>
						{% end %}
						{% $pagination := (pagination .pagination.total .pagination.limit) %}
						{% range $index, $val := $pagination %}
							{% if eq $val.offset $.pagination.offset %}
								<li class="active"><span>{% $val.page %}</span></li>
							{% else %}
								<li><a href="/user/me/history?f={% $val.offset %}&l={% $.pagination.limit %}">{% add $index 1 %}</a></li>
							{% end %}
						{% end %}
						{% $lastOffset := (index $pagination (sub (len $pagination) 1)).offset %}
						{% if eq $.pagination.offset $lastOffset %}
							<li class="disabled"><span aria-hidden="true">&raquo;</span></li>
						{% else %}
							<li><a href="/user/me/history?f={% add $.pagination.offset $.pagination.limit %}&l={% $.pagination.limit %}" class="disabled"><span aria-hidden="true">&raquo;</span></a></li>
						{% end %}
					</ul>
				</nav>
			</div>
		</div>
	{% template "footer" %}
{% end %}