{% define "email_signup" %}
<p>Здравствуйте!</p>

<p>Спасибо за регистрацию в OpenBook - первом сервисе проката профессиональной литературы.</p>

<p>Ваш логин: {% .user.Email %}<br />
Ваш пароль: {% .user.Password %}</p>

<p>Теперь вы можете выбрать книги, на интересующие Вас темы - {% range $index, $category := $.categories %}<a href="http://opbook.org/search?c={% $category.Id %}"><span>{% $category.Name %}</a>{% if ne (len $.categories) (add $index 1) %}, {% end %}{% end %}</p>

<p>Приятного чтения!<br />
Команда OpenBook</p>
{% end %}