{% define "search" %}
	{% template "header" . %}
	<div class="row">
		<div class="col-xs-3 sidebar">
			<ul class="nav">
				{% if gt (len .path) 0 %}
					<li><a href="/search"><span>< Все книги</span></a></li>
					{% range $index, $category := $.path %}
						{% if eq (len $.path) (add $index 1) %}
							<li class="active"><span>{% $category.Name %}</span></li>
						{% else %}
							<li><a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $category.Id %}&s={% $.search %}"><span>< {% $category.Name %}</span></a></li>
						{% end %}
					{% end %}
				{% else %}
					<li class="active"><span>Все книги</span></li>
				{% end %}
				<li><ul class="nav">
					{% range $index, $category := .categories %}
						<li><a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $category.Id %}&s={% $.search %}"><span>{% $category.Name %}</span> <span class="counter">({% $category.Books %})</span></a></li>
					{% end %}
					</ul>
				</li>
			</ul>
			<br />
			<ul class="nav">
				<li class="active"><span>Авторы</span></li>
				<li><ul class="nav">
					{% range $key, $author := .authors %}
						{% if $.author %}
							<li><a href="/search?p={% $.publisher %}&c={% $.category %}&s={% $.search %}"><span>< Все авторы</span></a></li>
						{% end %}
						<li><a href="/search?a={% $author.Id %}&p={% $.publisher %}&c={% $.category %}&s={% $.search %}"><span>{% $author.Name %}</span> <span class="counter">({% $author.Books %})</span></a></li>
					{% end %}
					</ul>
				</li>
			</ul>
			<br />
			<ul class="nav">
				<li class="active"><span>Издательства</span></li>
				<li><ul class="nav">
					{% range $key, $publisher := .publishers %}
						{% if $.publisher %}
							<li><a href="/search?a={% $.author %}&c={% $.category %}&s={% $.search %}"><span>< Все издательства</span></a></li>
						{% end %}
						<li><a href="/search?p={% $publisher.Id %}&a={% $.author %}&c={% $.category %}&s={% $.search %}"><span>{% $publisher.Name %}</span> <span class="counter">({% $publisher.Books %})</span></a></li>
					{% end %}
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-xs-9 catalog">
			<div class="row">
				<div class="col-xs-12 crumb border-bottom">Показано {% add $.pagination.offset 1 %}-{% add $.pagination.offset $.pagination.limit %} из {% $.pagination.total %}
					{% if gt (len .path) 0 %}для <a href="/search"><span>Все книги</span></a> : 
						{% range $index, $category := $.path %}
							{% if eq (len $.path) (add $index 1) %}
								<span class="active">{% $category.Name %}</span>
							{% else %}
								<a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $category.Id %}&s={% $.search %}"><span>{% $category.Name %}</span></a> :
							{% end %}
						{% end %}
					{% end %}
				</div>
			</div>
			{% range $index, $book := $.books.books %}
				<div class="row">
					<div class="col-xs-12 result border-bottom">
						<div class="number pull-left">{% add (add $.pagination.offset $index) 1 %}.</div>
						<div class="cover pull-left">
							<img src="/upload/cover/preview/{% $book.Id %}.jpg">
						</div>
						<div class="meta">
							<h3 class="title"><a href="/book/{% $book.Id %}?c={% $.category %}">{% $book.Title %}</a></h3>
							<div>Автор{% if gt (len $book.AuthorsId) 1 %}ы{% end %}: 
								{% range $index, $authorId := $book.AuthorsId %}
									{% if gt (len $book.AuthorsId) 1 %}
										{% if eq (len $book.AuthorsId) (add $index 1) %} и {% else if $index %}, {% end %}
									{% end %}
									<a href="/search?a={% $authorId %}"><b>{% (index $.books.authors $authorId).Name %}</b></a>
								{% end %}
							</div>
							<div>Издательство: <a href="/search?p={% $book.PublisherId %}"><b>{% (index $.books.publishers $book.PublisherId).Name %}</b></a></div>
							<div>Дата выхода: {% $book.Release.Format "1.2.2006" %}</div>
						</div>
						<div class="buttons pull-right">
							<a class="btn btn-danger btn-sm" href="/book/{% $book.Id %}?c={% $.category %}" role="button">Взять книгу</a>
						</div>
					</div>
				</div>
			{% end %}
			<div class="row">
				<div class="col-xs-12 paging">
					<nav class="text-center">
						<ul class="pagination pagination-sm">
							{% if eq $.pagination.offset 0 %}
								<li class="disabled"><span aria-hidden="true">&laquo;</span></li>
							{% else %}
								<li><a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $.category %}&f={% sub $.pagination.offset $.pagination.limit %}&l={% $.pagination.limit %}&s={% $.search %}" class="disabled"><span aria-hidden="true">&laquo;</span></a></li>
							{% end %}
							{% $pagination := (pagination .pagination.total .pagination.limit) %}
							{% range $index, $val := $pagination %}
								{% if eq $val.offset $.pagination.offset %}
									<li class="active"><span>{% $val.page %}</span></li>
								{% else %}
									<li><a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $.category %}&f={% $val.offset %}&l={% $.pagination.limit %}&s={% $.search %}">{% add $index 1 %}</a></li>
								{% end %}
							{% end %}
							{% $lastOffset := (index $pagination (sub (len $pagination) 1)).offset %}
							{% if eq $.pagination.offset $lastOffset %}
								<li class="disabled"><span aria-hidden="true">&raquo;</span></li>
							{% else %}
								<li><a href="/search?a={% $.author %}&p={% $.publisher %}&c={% $.category %}&f={% add $.pagination.offset $.pagination.limit %}&l={% $.pagination.limit %}&s={% $.search %}" class="disabled"><span aria-hidden="true">&raquo;</span></a></li>
							{% end %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	{% template "footer" %}
{% end %}