{% define "about" %}
	{% template "header" . %}
		<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
		<script src="/static/js/ymap.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>

		<div class="row info">
			<div class="col-xs-12">
				<h2>Кто мы?</h2>
				<p>Открытая книга - это сервис аренды профессиональной литературы.</p>

				<p>Мы любим книги и знаем, какую пользу они приносят. Поэтому делаем сервис для тех, кто хочет развиваться и считает, что книги - самый доступный инструмент развития</p>
				<p>Мы бы тратили на книги все свои деньги, но иногда хотим есть :) Еще нам жаль денег, потраченных на книгу, состоящую из воды. Поэтому мы делаем книги настолько доступными, чтобы вы могли за адекватную сумму читать столько, сколько хочется и оставлять себе только те книги, которые действительно зацепили.</p>
				<p>Мы - ИТ-специалисты, и делаем этот сервис для себя. Постоянно обновляем каталог книг и совершенствуем платформу.

				
				<p><b>Наш сервис для тех, кто</b></p>

				<ol>
					<li>Любит книги и готов скупить весь ассортимент книжного магазина</li>
					<li>Расстраивается, когда книга не оправдывает ожиданий, а деньги уже потрачены</li>
					<li>Хочет тестировать книги перед покупкой</li>
				</ol>

			</div>
			<div id="map-container" style="width:700px; height:600px; display: none;"></div>
		</div>
		<div class="row info">
			<div class="col-xs-12">
				<h2>Как это работает?</h2>
				<ol>
					<li>Вы <a href="/signup">регистрируетесь</a></li>
					<li>Выбираете книгу</li>
					<li>Оплачиваете подписку </li>
					<li>Получаете книгу</li>
					<li>Читаете и становитесь лучше</li>
    			</ol>
			</div>
		</div>

	{% template "footer" . %}
{% end %}