{% define "howitworks" %}
	{% template "header" . %}
		<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
		<script src="/static/js/ymap.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>

		<div class="row info">
			<div class="col-xs-12">
				<h2>Как это работает?</h2>
				<ol>
					<li>Вы <a href="/signup">регистрируетесь</a> на сайте</li>
					<li>Выбираете понравившуюся книгу</li>
					<li>Оплачиваете подписку - стоимость базовой подписки 490 рублей (<i>Базовая подписка: Неограниченное количество книг в течение 30 календарных дней, Одна книга на руках, Бесплатная доставка в пункты самовывоза</i>)</li>
					<li>Забираете книгу из <a class="fancybox" href="#map-container">пункта самовывоза</a> (<i>скоро будут доступны другие варианты</i>)</li>
					<li>Читаете и становитесь лучше</li>
    			</ol>
			</div>
		</div>
		<div class="row info">
			<div class="col-xs-12">
				<h2>Кто мы?</h2>
				<p>Открытая книга - это сервис аренды профессиональной литературы.</p>

				<p>Мы специализируемся на книгах по информационным технологиям, менеджменту и стартапам. 
				Список тем постоянно расширяется, но у нас всегда будут только книги, посвященные развитию конкретных навыков. 
				Художественные можно взять в библиотеке или прочитать в электронном виде.</p>

				<p><b>Наш сервис для тех, кто</b></p>

				<ol>
					<li>Любит книги и готов скупить весь ассортимент книжного магазина</li>
					<li>Расстраивается, когда книга не оправдывает ожиданий, а деньги уже потрачены</li>
					<li>Хочет тестировать книги перед покупкой</li>
				</ol>

				<h2>Почему мы?</h2>

				<p>Мы любим книги и знаем, какую пользу они могут принести. Поэтому делаем сервис для тех, кто хочет развиваться, и можем гарантировать полезность книг, которые предлагаем.</p>
				<p>Мы - ИТ-специалисты, и делаем этот сервис “как для себя”.  Отбираем только лучшие книги и постоянно совершенствуем платформу. Кстати, вот <a href="/todo">наши планы на будущее</a>.</p>
				<p>Мы бы тратили на книги все деньги, которые у нас есть, но иногда хотим есть :) Поэтому мы хотим сделать книги максимально доступными. Так чтобы наши пользователи могли за адекватную сумму читать столько, сколько хочется и оставлять себе только те, которые по-настоящему зацепили. Чем не магазин мечты? </p>
			</div>
			<div id="map-container" style="width:700px; height:600px; display: none;"></div>
		</div>
	{% template "footer" . %}
{% end %}