{% define "order" %}
	{% template "header" . %}
		<div class="content order" ng-controller="OrderController">
			<form method="post" action="/order">
				<span ng-init="form = {
					book: {% $.form.Book %},
					name: '{% $.form.Name %}',
					phone: '{% $.form.Phone %}',
					address: {% $.form.Address %},
					subscription: {% $.form.Subscription %}
				}"></span>
				<span ng-init="addresses = [
					{% range $index, $address := $.addresses %}
						{
							id: {% $address.Id %},
							address: '{% $address.Address %}',
							comment: '{% $address.Comment %}'
						}	
					{% end %}
				]"></span>
				<span ng-init="subscriptions = [
					{% range $index, $subscription := $.subscriptions %}
						{
							id: {% $subscription.Id %},
							name: '{% $subscription.Name %}',
							price: {% $subscription.Price %}
						},
					{% end %}
				]"></span>
				<input type="hidden" name="book" value="{% $.form.Book %}" />
				<div class="row panel panel-default order-book">
					<div class="panel-heading"><strong>Выбранная книга</strong></div>
					<div class="panel-body">
						<div class="cover pull-left">
							<img src="/upload/cover/preview/{% $.book.Id %}.jpg" class="cover">
						</div>
						<div class="meta">
							<div class="title"><a href="/book/{% $.book.Id %}?c={% $.category %}">{% $.book.Title %}</a></div>
							<div>Автор{% if gt (len $.book.AuthorsId) 1 %}ы{% end %}: 
								{% range $index, $authorId := $.book.AuthorsId %}
									{% if gt (len $.book.AuthorsId) 1 %}
										{% if eq (len $.book.AuthorsId) (add $index 1) %} и {% else if $index %}, {% end %}
									{% end %}
									<a href="/search?a={% $authorId %}"><b>{% (index $.authors $authorId).Name %}</b></a>
								{% end %}
							</div>
							<div>Издательство: <a href="/search?p={% $.book.PublisherId %}"><b>{% (index $.publishers $.book.PublisherId).Name %}</b></a></div>
							<div>Дата выхода: {% $.book.Release.Format "1.2.2006" %}</div>
						</div>
					</div>
				</div>
				<div class="row panel panel-default order-shiping">
					<div class="panel-heading"><strong>Контакты и доставка</strong></div>
					<div class="panel-body">
						<fieldset class="form-horizontal">
							<div class="form-group">
							<label class="col-sm-1 control-label">Имя:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control input-sm" placeholder="Имя" name="name" ng-model="form.name">
								</div>
								<div class="text-danger col-sm-8" ng-init="form.error.name = '{% $.form.Error "Name" %}'">{{ form.error.name }}</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">Телефон:</label>
								<div class="col-sm-3">
									<input type="text" class="form-control input-sm" placeholder="89161234567" name="phone" ng-model="form.phone">
								</div>
								<div class="text-danger col-sm-8" ng-init="form.error.phone = '{% $.form.Error "Phone" %}'">{{ form.error.phone }}</div>
							</div>
						</fieldset>
						<ul>
							<li ng-repeat="address in addresses">
								<label class="radio">
									<input type="radio" name="address" ng-value="address.id" ng-model="form.address">{{ address.address }}<i ng-if="address.comment">, {{ address.comment }}</i>
								</label>
							</li>
							<li class="text-danger" ng-init="form.error.address = '{% $.form.Error "Address" %}'">{{ form.error.address }}</li>
							<li><a href="#" ng-click="addAddressFlag=true" ng-hide="addAddressFlag || !addresses.length">Добавить новый адрес доставки</a></li>
						</ul>
						<fieldset class="col-sm-5" ng-show="addAddressFlag || !addresses.length">
							<div class="form-group">
								<label class="control-label">Укажите желаемый адрес доставки</label>
								<textarea class="form-control" rows="2" ng-model="address.address"></textarea>
							</div>
							<div class="form-group">
								<label class="control-label">И коментарии к адресу</label>
								<textarea class="form-control" rows="2" ng-model="address.comment"></textarea>
							</div>
							<button type="button" class="btn btn-default" ng-click="addAddress()">Добавить</button>
						</fieldset>
					</div>
				</div>
				<div class="row panel panel-default order-subscription">
					<div class="panel-heading"><strong>Информация о подписке</strong></div>
					<div class="panel-body">
						{% if $.subscription.Id %}
							<p>{% $.subscription.Name %}. Действительна до {% $.subscription.Expiration.Format "01.02.2006" %}</p>	
						{% else %}
							<p>Подписка не оформлена. Для того чтобы взять книгу выберите один из следующих вариантов подписки:
							<ul>
								<li>
									<label class="radio">
										<input type="radio" name="subscription" ng-model="form.subscription" value="0" />Оставить заказ без оформления подписки
									</label>
								</li>
								<li ng-repeat="subscription in subscriptions">
									<label class="radio">
										<input type="radio" name="subscription" ng-model="form.subscription" ng-value="subscription.id" ng-change="$parent.subscription=subscription"/>{{ subscription.name }}, {{ subscription.price }}
										р.
									</label>
								</li>
							</ul>
						{% end %}
					</div>
				</div>
				<div class="row order-submit">
					<div class="col-xs-offset-4 col-xs-5 form-inline">
						<input type="submit" class="btn btn-danger" value="Я хочу оформить подписку за {{ subscription.price }} р. и взять книгу" ng-show="form.subscription" ng-click="submit($event)"> 
						<input type="submit" class="btn btn-danger" value="Я хочу взять выбранную книгу" ng-show="!form.subscription" ng-click="submit($event)"> 
					</div>
				</div>
			</form>
			<div id="map-container" style="width:700px; height:600px; display: none;"></div>
		</div>
	{% template "footer" %}
{% end %}