{% define "signup" %}
	{% template "header" . %}
		<form class="signup" ng-controller="SignUpController" method="post" action="/signup">
			<input type="hidden" name="from" value="{% .form.From %}" />
			<div class="row">
				<div class="col-xs-12 form-inline email-form">
					<h3>Вход в библиотеку</h3>
					<div class="form-group">
						<label for="email" class="control-label">Укажите ваш email адрес&nbsp;</label>
						<input type="email" class="form-control input-sm" id="email" name="email" placeholder="Email адрес" ng-model="form.email" required autofocus/>
					</div>
					<p class="text-danger" ng-init="form.error.email = '{% .form.Error "Email" %}'">{{ form.error.email }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>У вас уже есть библиотечная карточка?</h3>
					<fieldset class="form-horizontal">
						<fieldset class="form-inline">
							<div class="form-group">
								<label class="radio-inline control-label">
									<input type="radio" name="new" value="false" ng-model="form.new">Да, мой пароль:&nbsp;
								</label>
								<input type="password" class="form-control input-sm" id="password" name="password" placeholder="Пароль" ng-model="form.password" ng-focus="form.new = 'false'"/>
							</div>
						</fieldset>
						<div class="form-group">
							<label class="radio-inline">
								<input type="radio" name="new" value="true" ng-model="form.new">Нет, я новый пользователь
							</label>
						</div>
					</fieldset>
					<p class="text-danger" ng-init="form.error.password = '{% .form.Error "Password" %}'">{{ form.error.password }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-4 col-xs-5 form-inline submit-form">
					<input type="submit" class="btn btn-danger" value="Войти в библиотеку" ng-click="submit($event)"> 
				</div>
			</div>
		</form>
	{% template "footer" %}
{% end %}